.HomeDiv {
    border: 10px solid gray;
    padding: 10px;
    margin: 2px;
}
.MenuDiv {
    border: 10px solid blue;
    width: 200px;
}
.MenuDiv a{
    text-decoration: none;
}
.GraphicDiv{
    border: 10p;
}
.menuButton {
    display: block;
    font-family: 'Agency FB', sans-serif;
    justify-content: center;
    font-size: 40px;
    width: 166px;
    color: white;
    opacity: 0.82;
    font-weight: bold;
    font-style: italic
}
.menuButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.menuButton span:after {
    content: '\00bb';
    justify-content: center;
    position: absolute;
    opacity: 0;
    top: 0;    
    right: 60px; /*flipping the negative controls arrow*/
    transition: 0.3s;
}
.menuButton:hover span {
    font-size: 40px;
    padding-right: 25px;
}
.menuButton:hover span:after {
    opacity: 1;
    right: 0;
}

.fill {
    position: relative;
    line-height: 50px;
    background: #67809F;
    border: none;
    overflow: hidden;
    z-index: 1;
    padding: 0px;
}

.fill:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: #34495E;
    opacity: 0.4;
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateX(calc(-100%)) translateY(0%) rotate(0deg);
    transition: transform .3s
}

.fill:hover:after{
    transform: translateY(0%) translateX(-50%) rotate(0deg);
}